:root {
    --theme: rgb(46, 85, 101);
}

@font-face {
    font-family: "Odin";
    src: url(/fonts/Norse-Bold.otf);
}

body {
    display: flex;
    margin: auto;
    height: 100vh;
}

button {
    background-color: var(--theme);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.274);
}

h5 span {
    color: var(--theme);
}

fieldset {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
}

input {
    width: 12rem;
}

.input-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.input-row > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.8rem;
}

#left-side {
    background-image: url('/assets/forest.jpg');
    background-size: 1300px;
    display: flex;
    flex-direction: column;
    flex: auto;
    color: white;
}

#right-side {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 50vw;
    height: 100vh;
}

#banner {
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 10rem;
    align-items: center;
}

#logo img {
    width: 100px;
}

#title {
    font-family: 'Odin';
    font-size: 6rem;
}

#credit {
    position: absolute;
    display: flex;
    align-self: center;
    bottom: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#section1, #section3 {
    background-color: rgb(247, 247, 247);
    padding-left: 2rem;
}

#section1 {
    padding-top: 4rem;
}

#section2 {
    padding-left: 1rem;
    margin-bottom: -5rem;
}

#section3 {
    padding-top: 3rem;
}

.section {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    padding-right: 1rem;
}
