body {
    display: flex;
    margin: auto;
    height: 100vh;
}

#left-side {
    background-image: url('/assets/blossoms.jpg');
    background-size: 700px;
    flex: auto;
    color: white;
}

#right-side {
    background-color: rgb(255, 255, 255);
    flex: auto;
    width: 30vw;
}

#banner {
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    margin-top: 20vh;
    height: 10rem;
}

#section1, #section3 {
    background-color: rgb(247, 247, 247);
}